<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://res.cloudinary.com/drdnqwdzd/image/upload/v1676940885/fslogo_ac9eoy.png"
    />
    <title>FigureShop | Cập nhật mật khẩu</title>
    <link rel="stylesheet" href="/css/App.css" />
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
    </style>
  </head>
  <body>
    <div class="container">

      {{{body}}}

    </div>
  </body>
</html>