<div class="header">
  <img
    src="https://res.cloudinary.com/drdnqwdzd/image/upload/v1676940885/fslogo_ac9eoy.png"
    class="logo"
  />
  <h1>FIGURESHOP</h1>
</div>
<img
  src="https://res.cloudinary.com/dk0aucv8r/image/upload/v1675056053/err_j1p60q.png"
  class="failImg"
/>
<h1>URL hết hạn!</h1>