<div class="header">
  <img
    src="https://res.cloudinary.com/dhhkjmfze/image/upload/v1671244626/logo_ogcee6.png"
    class="logo"
  />
  <h1>FIGURESHOP</h1>
</div>
<form action="/api/account/resetpassword/{{token}}" method="post">
  <p class="status">{{status}}</p>
  <div class="inputContainer">
    <input
      placeholder="Mật khẩu mới"
      type="password"
      name="password"
      required
    />
  </div>

  <div class="inputContainer">
    <input
      placeholder="Nhập lại mật khẩu"
      type="password"
      name="repeatPassword"
      required
    />
  </div>
  <div>*Mật khẩu phải có độ dài tối thiểu 8 ký tự, bao gồm số, chữ và 1 ký tự
    đặc biệt.</div>
  <button type="submit">Cập nhật</button>
</form>