<div class="header">
  <img
    src="https://res.cloudinary.com/drdnqwdzd/image/upload/v1676940885/fslogo_ac9eoy.png"
    class="logo"
  />
  <h1>FIGURESHOP</h1>
</div>
<img
  src="https://res.cloudinary.com/dk0aucv8r/image/upload/v1675056052/success_bi9wj3.png"
  class="successImg"
/>
<h1>Cập nhật mật khẩu thành công!
  <a href="http://figureshop-beta.vercel.app">Đăng nhập</a></h1>